<h1>About page</h1>
<p>Currently I am an analyst at a SAAS company in operations, and working on my entreprenurial skills.</p>
<p>This is a work in progress and we intend to be create new applications that change the world. </p>
<p>At least that is the goal :) </p>


