<h1>Welcome to My First Rails Website</h1>

<p><b>Some goals<b></p>
<ul>
  <li>Create an app that accesses a MySQL db</li>
  <li>Create a graph, dashboarding type tool that ties to a db or can upload files</li>
  <li>Create a tool that accesses ADP with reporting that HR can use to replace an in house HRIS FMPro system.</li>
  <li>Apply machine learning to data, maybe pull in a python ML script...??  </li>
  <li>Build test release repeat.....</li>
</ul>  
